$unified-radio-margin-bottom: 								12px !default;

$unified-radio-control-size: 								18px !default;

$unified-radio-control-glyph-opacity: 						0.6 !default;
$unified-radio-control-glyph-size: 							4px !default;

$unified-radio-transitions: 								true !default;
$unified-radio-transition-speed:							200ms !default;
$unified-radio-transition-timing:							ease-in-out !default;
$unified-radio-transition-delay:							0ms !default;

$unified-radio-font-weight:									400 !default;
$unified-radio-font-size:									'base-font-size' !default;

$unified-radio-border-selectors:							('.radio.__radio--ready .radio-glyph') !default;
$unified-radio-background-selectors:						('.radio.__radio--ready .radio-glyph') !default;
$unified-radio-font-selectors:								('.radio.__radio--ready .radio-label') !default;

@if variable-exists(form-validation-border-selectors) {
	$form-validation-border-selectors: append($form-validation-border-selectors, $unified-radio-border-selectors, 'comma');
}

@if variable-exists(form-validation-background-selectors) {
	$form-validation-background-selectors: append($form-validation-background-selectors, $unified-radio-background-selectors, 'comma');
}

@if variable-exists(form-validation-font-selectors) {
	$form-validation-font-selectors: append($form-validation-font-selectors, $unified-radio-font-selectors, 'comma');
}