$unified-radio-margin-bottom: 12px !default;

$unified-radio-control-size: 18px !default;

$unified-radio-control-glyph-opacity: 0.6 !default;
$unified-radio-control-glyph-size: 4px !default;

$unified-radio-transitions: true !default;